In [32]:
import pandas as pd
from pprint import pprint
from pymongo import MongoClient
from config import username, dbname, password

In [33]:
data_path="../Resources/"

## Renewables Energy Consumption
 energy source consumption tables

In [34]:
def cleanEnergyShare(dbpath):
    # solar generation table
    solar_data_read=pd.read_csv(data_path+"solar-energy-consumption.csv")
    solar_data_read.rename(columns={'Electricity from solar (TWh)' : 'Consumption_Units(Twh)'}, inplace=True)
    solar_data_read['Source'] = 'Solar'
    
    # hydropower generation table
    hydropower_data_read= pd.read_csv(data_path+"hydropower-consumption.csv")
    hydropower_data_read.rename(columns={'Electricity from hydro (TWh)' : 'Consumption_Units(Twh)'}, inplace=True)
    hydropower_data_read['Source'] = 'Hydro'
    
    # wind energy generation table
    wind_data_read=pd.read_csv(data_path+"wind-consumption.csv")
    wind_data_read.rename(columns={'Electricity from wind (TWh)' : 'Consumption_Units(Twh)'}, inplace=True)
    wind_data_read['Source'] = 'Wind'
    
    # bio energy generation table
    biofuel_data_read=pd.read_csv(data_path+"biofuel-consumption.csv")
    biofuel_data_read.rename(columns={'Biofuels Production - PJ - Total' : 'Consumption_Units(Twh)'}, inplace=True)
    biofuel_data_read['Source'] = 'Biofuels'
    
    # Merge all the above dataframes into a single dataframe
    energyshare = solar_data_read
    energyshare = energyshare.append(hydropower_data_read, ignore_index=True)
    energyshare = energyshare.append(wind_data_read, ignore_index=True)
    energyshare = energyshare.append(biofuel_data_read, ignore_index=True)    
    energyshare.rename(columns={'Entity':'Country'}, inplace=True)
    
    #-----------------------------------------------------------
    energyshare.loc[energyshare['Code'].isnull(),'Code'] = ""
    #-----------------------------------------------------------
    
    # Convert the null values to zero
    energyshare.fillna(0, inplace=True)
    return energyshare

## Renewables Energy Generation
Primary energy tables

In [35]:
def cleanEnergySource(dbpath):
    # Renewable Energy consumption table
    share_electricity= pd.read_csv(data_path+"primary-energy-renewables.csv")
    share_electricity.rename(columns={'Renewables (TWh – sub method)': 'Units(Twh)'}, inplace=True)
    share_electricity['Source'] = 'Total'


    # Solar Energy consumption table
    share_solar= pd.read_csv(data_path+"primary-energy-from-solar.csv")
    share_solar.rename(columns={"Solar (TWh – sub method)": 'Units(Twh)'}, inplace=True)
    share_solar['Source'] = 'Solar'

    # Wind Energy consumption table
    share_wind= pd.read_csv(data_path+"primary-energy-wind.csv")
    share_wind.rename(columns={'Wind (TWh – sub method)': 'Units(Twh)'}, inplace=True)
    share_wind['Source'] = 'Wind'

    # Hydropower Energy consumption table    
    share_hydro= pd.read_csv(data_path+"primary-energy-hydro.csv")
    share_hydro.rename(columns={'Hydro (TWh – sub method)': 'Units(Twh)'}, inplace=True)
    share_hydro['Source'] = 'Hydro'

    # Merge all the above dataframes into a single dataframe
    energysource = share_electricity
    energysource = energysource.append(share_solar, ignore_index=True)
    energysource = energysource.append(share_hydro, ignore_index=True)
    energysource = energysource.append(share_wind, ignore_index=True)
    energysource.rename(columns={'Entity':'Country'}, inplace=True)
    
    #-----------------------------------------------------------
    energysource.loc[energysource['Code'].isnull(),'Code'] = ""
    #-----------------------------------------------------------

    # Convert the null values to zero
    energysource.fillna(0,inplace=True)
    return energysource

## GDP by Country
Check Countries' GDP growth

In [36]:
def cleanCountryGDP(dbpath):
    # Read the data from the csv file
    gdp_data=pd.read_csv(data_path+"API_NY.GDP.PCAP.CD_DS2_en_csv_v2_1429392.csv")
    
    # Slice the country name column
    country_series = gdp_data.iloc[:,0]

    # Slice the year columns from 2000 - 2019
    year_df = gdp_data.iloc[:,44:64]
    # Combine country_series and year_df into a single dataframe
    # Insert the series into the df at the first position
    year_df.insert(0, 'Country', country_series)
    
    gdp_data = year_df
    
    # Get the years in the colunms
    col_names = gdp_data.columns  
    
    newlst = []
    for row in range(0, len(gdp_data)):
        for col in range(1, len(col_names)):            
            newlst.append([gdp_data.iloc[row,0], col_names[col], gdp_data.iloc[row, col]])
    
    country_gdp_df = pd.DataFrame(newlst, columns=(['Country','Year','GDP']))    
    country_gdp_df.fillna(0, inplace=True)
    country_gdp_df['Year'] = country_gdp_df['Year'].astype('int64', copy=False)
    return country_gdp_df

In [37]:
def cleanCountryGDP_withCode(dbpath):
    # Read the data from the csv file
    gdp_data=pd.read_csv(data_path+"API_NY.GDP.PCAP.CD_DS2_en_csv_v2_1429392.csv")

    # Slice the country name column
    country_series = gdp_data.iloc[:,0]

    # Slice the year columns from 2000 - 2019
    year_df = gdp_data.iloc[:,44:64]
    # Combine country_series and year_df into a single dataframe
    # Insert the series into the df at the first position

    code_series = gdp_data.iloc[:,1]
    year_df.insert(0, 'Code', code_series)

    year_df.insert(0, 'Country', country_series)

    gdp_data = year_df

    # Get the years in the colunms
    col_names = gdp_data.columns  

    newlst = []
    for row in range(0, len(gdp_data)):
        for col in range(2, len(col_names)):            
            newlst.append([gdp_data.iloc[row,0], gdp_data.iloc[row,1], col_names[col], gdp_data.iloc[row, col]])

    country_gdp_df = pd.DataFrame(newlst, columns=(['Country','Code', 'Year','GDP']))

    ## -----------------------------------------------------------
    country_gdp_df.loc[country_gdp_df['Code'].isnull(),'Code'] = ""
    ## -----------------------------------------------------------

    country_gdp_df.fillna(0, inplace=True)
    country_gdp_df['Year'] = country_gdp_df['Year'].astype('int64', copy=False)
    return country_gdp_df

In [38]:
gdp_dframe = cleanCountryGDP_withCode(data_path)
gdp_sorted = gdp_dframe.loc[gdp_dframe['Year'] == 2019].sort_values('GDP', ascending=False).nlargest(12, 'GDP').round(3)
# gdp_sorted = gdp_sorted.nlargest(12, ['GDP'])
clist = gdp_sorted.loc[:, 'Country']
gdp_top = gdp_dframe[gdp_dframe['Country'].isin(clist)]
gdp_top

            Country Code  Year          GDP
220       Australia  AUS  2000  21679.24784
221       Australia  AUS  2001  19490.86111
222       Australia  AUS  2002  20082.48327
223       Australia  AUS  2003  23447.03100
224       Australia  AUS  2004  30430.67644
...             ...  ...   ...          ...
4995  United States  USA  2015  56822.51882
4996  United States  USA  2016  57927.51685
4997  United States  USA  2017  59957.72585
4998  United States  USA  2018  62840.02024
4999  United States  USA  2019  65118.35833

[240 rows x 4 columns]

## Death Rate based on Air Pollution in every 100,000 people
Death rates are measured as the number of premature deaths attributed to outdoor air pollution per 100,000 individuals in a given demographic

In [39]:
def cleanAirPollution(dbpath):
    air_pollution = pd.read_csv(data_path+"outdoor-pollution-rates-by-age.csv")

    ## -----------------------------------------------------------
    air_pollution.loc[air_pollution['Code'].isnull(),'Code'] = ""
    ## -----------------------------------------------------------
    
    air_pollution.fillna(0,inplace=True)
    clear_data_air = air_pollution.rename(columns={"Entity":"Country",
                             "Death rate – Outdoor air pollution (Under-5s) (IHME)":"Death_Rate_Under_5",
                             "Death rate – Outdoor air pollution (5-14 years) (IHME)":"Death_Rate_5_14_Years",
                             "Death rate – Outdoor air pollution (15-49 years) (IHME)":"Death_Rate_15_49_Years",
                             "Death rate – Outdoor air pollution (50-69 years) (IHME)":"Death_Rate_50_69_Years",
                             "Death rate – Outdoor air pollution (70+ years) (IHME)":"Death_Rate_Over_70"})
#     clear_data_air.drop(columns=["Code"],inplace=True)
    return clear_data_air

#### Call all the functions

In [40]:
src_df = cleanEnergySource(data_path)

share_df = cleanEnergyShare(data_path)

gdp_df = cleanCountryGDP(data_path)

air_df = cleanAirPollution(data_path)

In [41]:
src_df

      Country      Code  Year   Units(Twh) Source
0      Africa            1965    38.626795  Total
1      Africa            1966    43.083379  Total
2      Africa            1967    44.974026  Total
3      Africa            1968    52.606544  Total
4      Africa            1969    61.391409  Total
...       ...       ...   ...          ...    ...
17155   World  OWID_WRL  2015  2103.669313   Wind
17156   World  OWID_WRL  2016  2423.694042   Wind
17157   World  OWID_WRL  2017  2852.430451   Wind
17158   World  OWID_WRL  2018  3156.845062   Wind
17159   World  OWID_WRL  2019  3540.051401   Wind

[17160 rows x 5 columns]

In [42]:
share_df

           Country      Code  Year  Consumption_Units(Twh)    Source
0      Afghanistan       AFG  2000                0.000000     Solar
1      Afghanistan       AFG  2001                0.000000     Solar
2      Afghanistan       AFG  2002                0.000000     Solar
3      Afghanistan       AFG  2003                0.000000     Solar
4      Afghanistan       AFG  2004                0.000000     Solar
...            ...       ...   ...                     ...       ...
21835        World  OWID_WRL  2015             3374.355102  Biofuels
21836        World  OWID_WRL  2016             3493.323055  Biofuels
21837        World  OWID_WRL  2017             3643.814193  Biofuels
21838        World  OWID_WRL  2018             3992.266217  Biofuels
21839        World  OWID_WRL  2019             4113.090945  Biofuels

[21840 rows x 5 columns]

In [43]:
type(gdp_df["Year"])

pandas.core.series.Series

## Merging all the data tables

In [74]:
def mergeEnergyData(dbpath):
    energysource = cleanEnergySource(dbpath)
    energyshare = cleanEnergyShare(dbpath)
    merge_src_share = pd.merge(energysource, energyshare, on=["Country", "Code", "Year", "Source"], how="outer")

#     merge_src_share.drop(merge_src_share[merge_src_share['Country']=='World'].index, inplace=True)
    
#     merge_src_share.drop(columns=["Code_y"],inplace=True)
#     merge_src_share.rename(columns={"Code_x":"Code"})    
#     merge_src_share.drop(columns=['Code_x', 'Code_y'], inplace=True)
    merge_src_share.fillna(0, inplace=True)
#     merge_src_share.sort_values(['Country', 'Source', 'Year'], inplace=True)
    print(merge_src_share)
    return merge_src_share

In [75]:
srcshare_df = mergeEnergyData(data_path)

      Country      Code  Year  Units(Twh)    Source  Consumption_Units(Twh)
0      Africa            1965   38.626795     Total                0.000000
1      Africa            1966   43.083379     Total                0.000000
2      Africa            1967   44.974026     Total                0.000000
3      Africa            1968   52.606544     Total                0.000000
4      Africa            1969   61.391409     Total                0.000000
...       ...       ...   ...         ...       ...                     ...
26125   World  OWID_WRL  2015    0.000000  Biofuels             3374.355102
26126   World  OWID_WRL  2016    0.000000  Biofuels             3493.323055
26127   World  OWID_WRL  2017    0.000000  Biofuels             3643.814193
26128   World  OWID_WRL  2018    0.000000  Biofuels             3992.266217
26129   World  OWID_WRL  2019    0.000000  Biofuels             4113.090945

[26130 rows x 6 columns]

In [76]:
srcshare_df.head(60)

    Country Code  Year  Units(Twh) Source  Consumption_Units(Twh)
0    Africa       1965   38.626795  Total                     0.0
1    Africa       1966   43.083379  Total                     0.0
2    Africa       1967   44.974026  Total                     0.0
3    Africa       1968   52.606544  Total                     0.0
4    Africa       1969   61.391409  Total                     0.0
5    Africa       1970   76.751255  Total                     0.0
6    Africa       1971   72.715033  Total                     0.0
7    Africa       1972   82.772834  Total                     0.0
8    Africa       1973   87.543702  Total                     0.0
9    Africa       1974   99.561397  Total                     0.0
10   Africa       1975  105.250001  Total                     0.0
11   Africa       1976  116.618519  Total                     0.0
12   Africa       1977  128.105014  Total                     0.0
13   Africa       1978  129.172155  Total                     0.0
14   Africa       1979  138.239647  Total                     0.0
15   Africa       1980  134.774509  Total                     0.0
16   Africa       1981  140.030407  Total                     0.0
17   Africa       1982  140.117437  Total                     0.0
18   Africa       1983  126.325546  Total                     0.0
19   Africa       1984  124.233359  Total                     0.0
20   Africa       1985  138.107569  Total                     0.0
21   Africa       1986  143.901152  Total                     0.0
22   Africa       1987  138.095834  Total                     0.0
23   Africa       1988  150.609722  Total                     0.0
24   Africa       1989  158.036834  Total                     0.0
25   Africa       1990  161.167880  Total                     0.0
26   Africa       1991  170.665382  Total                     0.0
27   Africa       1992  163.012746  Total                     0.0
28   Africa       1993  160.000704  Total                     0.0
29   Africa       1994  162.284709  Total                     0.0
30   Africa       1995  168.877571  Total                     0.0
31   Africa       1996  176.621396  Total                     0.0
32   Africa       1997  181.245528  Total                     0.0
33   Africa       1998  189.936366  Total                     0.0
34   Africa       1999  201.111789  Total                     0.0
35   Africa       2000  215.844675  Total                     0.0
36   Africa       2001  230.802527  Total                     0.0
37   Africa       2002  241.103853  Total                     0.0
38   Africa       2003  234.456421  Total                     0.0
39   Africa       2004  246.842122  Total                     0.0
40   Africa       2005  249.876777  Total                     0.0
41   Africa       2006  259.033873  Total                     0.0
42   Africa       2007  264.448409  Total                     0.0
43   Africa       2008  268.776866  Total                     0.0
44   Africa       2009  275.525435  Total                     0.0
45   Africa       2010  296.638381  Total                     0.0
46   Africa       2011  304.201691  Total                     0.0
47   Africa       2012  305.408807  Total                     0.0
48   Africa       2013  323.914880  Total                     0.0
49   Africa       2014  347.004121  Total                     0.0
50   Africa       2015  353.209162  Total                     0.0
51   Africa       2016  350.674540  Total                     0.0
52   Africa       2017  377.711896  Total                     0.0
53   Africa       2018  404.902936  Total                     0.0
54   Africa       2019  441.256439  Total                     0.0
55  Algeria  DZA  1965    1.111112  Total                     0.0
56  Algeria  DZA  1966    0.986112  Total                     0.0
57  Algeria  DZA  1967    1.138890  Total                     0.0
58  Algeria  DZA  1968    1.563890  Total                     0.0
59  Algeria  DZA  1969    1.002779  Total                     0.0

In [77]:
srcshare_df.tail(60)

,Country,Code,Year,Units(Twh),Source,Consumption_Units(Twh)
26070,United States,USA,1990,0.0,Biofuels,63.609392
26071,United States,USA,1991,0.0,Biofuels,73.706121
26072,United States,USA,1992,0.0,Biofuels,83.802850
26073,United States,USA,1993,0.0,Biofuels,98.206717
26074,United States,USA,1994,0.0,Biofuels,109.658927
26075,United States,USA,1995,0.0,Biofuels,115.504735
26076,United States,USA,1996,0.0,Biofuels,82.820379
26077,United States,USA,1997,0.0,Biofuels,109.605328
26078,United States,USA,1998,0.0,Biofuels,119.535341
26079,United States,USA,1999,0.0,Biofuels,124.637917
26080,United States,USA,2000,0.0,Biofuels,138.023245
26081,United States,USA,2001,0.0,Biofuels,151.244480
26082,United States,USA,2002,0.0,Biofuels,183.383982
26083,United States,USA,2003,0.0,Biofuels,240.362437
26084,United States,USA,2004,0.0,Biofuels,293.125738
26085,United States,USA,2005,0.0,Biofuels,343.483645
26086,United States,USA,2006,0.0,Biofuels,446.751275
26087,United States,USA,2007,0.0,Biofuels,615.825061
26088,United States,USA,2008,0.0,Biofuels,876.455428
26089,United States,USA,2009,0.0,Biofuels,994.826609
26090,United States,USA,2010,0.0,Biofuels,1174.140832
26091,United States,USA,2011,0.0,Biofuels,1305.600503
26092,United States,USA,2012,0.0,Biofuels,1247.993074
26093,United States,USA,2013,0.0,Biofuels,1300.297082
26094,United States,USA,2014,0.0,Biofuels,1377.055896
26095,United States,USA,2015,0.0,Biofuels,1417.172201
26096,United States,USA,2016,0.0,Biofuels,1506.654210
26097,United States,USA,2017,0.0,Biofuels,1554.641571
26098,United States,USA,2018,0.0,Biofuels,1600.431652
26099,United States,USA,2019,0.0,Biofuels,1557.063399
26100,World,OWID_WRL,1990,0.0,Biofuels,326.032489
26101,World,OWID_WRL,1991,0.0,Biofuels,366.299935
26102,World,OWID_WRL,1992,0.0,Biofuels,352.038195
26103,World,OWID_WRL,1993,0.0,Biofuels,358.605802
26104,World,OWID_WRL,1994,0.0,Biofuels,398.252280
26105,World,OWID_WRL,1995,0.0,Biofuels,412.980627
26106,World,OWID_WRL,1996,0.0,Biofuels,415.416208
26107,World,OWID_WRL,1997,0.0,Biofuels,476.344458
26108,World,OWID_WRL,1998,0.0,Biofuels,454.350286
26109,World,OWID_WRL,1999,0.0,Biofuels,438.366724
26110,World,OWID_WRL,2000,0.0,Biofuels,418.302900
26111,World,OWID_WRL,2001,0.0,Biofuels,456.293557
26112,World,OWID_WRL,2002,0.0,Biofuels,538.105028
26113,World,OWID_WRL,2003,0.0,Biofuels,666.041573
26114,World,OWID_WRL,2004,0.0,Biofuels,753.772803
26115,World,OWID_WRL,2005,0.0,Biofuels,884.529723
26116,World,OWID_WRL,2006,0.0,Biofuels,1125.296493
26117,World,OWID_WRL,2007,0.0,Biofuels,1527.388000
26118,World,OWID_WRL,2008,0.0,Biofuels,2067.221318
26119,World,OWID_WRL,2009,0.0,Biofuels,2288.703592
26120,World,OWID_WRL,2010,0.0,Biofuels,2642.063936
26121,World,OWID_WRL,2011,0.0,Biofuels,2791.787725
26122,World,OWID_WRL,2012,0.0,Biofuels,2839.017474
26123,World,OWID_WRL,2013,0.0,Biofuels,3083.761288
26124,World,OWID_WRL,2014,0.0,Biofuels,3360.487999
26125,World,OWID_WRL,2015,0.0,Biofuels,3374.355102
26126,World,OWID_WRL,2016,0.0,Biofuels,3493.323055
26127,World,OWID_WRL,2017,0.0,Biofuels,3643.814193
26128,World,OWID_WRL,2018,0.0,Biofuels,3992.266217
26129,World,OWID_WRL,2019,0.0,Biofuels,4113.090945

In [78]:
srcshare_df[srcshare_df['Country']=='World']

      Country      Code  Year   Units(Twh)    Source  Consumption_Units(Twh)
4235    World  OWID_WRL  1965  2614.399747     Total                0.000000
4236    World  OWID_WRL  1966  2787.844019     Total                0.000000
4237    World  OWID_WRL  1967  2849.250120     Total                0.000000
4238    World  OWID_WRL  1968  3003.916440     Total                0.000000
4239    World  OWID_WRL  1969  3180.561393     Total                0.000000
...       ...       ...   ...          ...       ...                     ...
26125   World  OWID_WRL  2015     0.000000  Biofuels             3374.355102
26126   World  OWID_WRL  2016     0.000000  Biofuels             3493.323055
26127   World  OWID_WRL  2017     0.000000  Biofuels             3643.814193
26128   World  OWID_WRL  2018     0.000000  Biofuels             3992.266217
26129   World  OWID_WRL  2019     0.000000  Biofuels             4113.090945

[250 rows x 6 columns]

In [79]:
srcshare_df

      Country      Code  Year  Units(Twh)    Source  Consumption_Units(Twh)
0      Africa            1965   38.626795     Total                0.000000
1      Africa            1966   43.083379     Total                0.000000
2      Africa            1967   44.974026     Total                0.000000
3      Africa            1968   52.606544     Total                0.000000
4      Africa            1969   61.391409     Total                0.000000
...       ...       ...   ...         ...       ...                     ...
26125   World  OWID_WRL  2015    0.000000  Biofuels             3374.355102
26126   World  OWID_WRL  2016    0.000000  Biofuels             3493.323055
26127   World  OWID_WRL  2017    0.000000  Biofuels             3643.814193
26128   World  OWID_WRL  2018    0.000000  Biofuels             3992.266217
26129   World  OWID_WRL  2019    0.000000  Biofuels             4113.090945

[26130 rows x 6 columns]

In [80]:
srcshare_df.to_csv("EneryMerged.csv")

## last_tenyear_renew_percent

In [ ]:
renew_df = pd.read_csv(data_path+"last_tenyear_renew_percent.csv")
renew_df

# Connect and Update to Mongo

In [ ]:
# CREATE Connection with MongoDB Cloud
# conn = 'mongodb://localhost:27017'
# client = MongoClient(conn)

In [ ]:
# # Define the Database in Mongo
# db = client.renewable_energy

# coll = db.energysource.find()

# for row in coll:
#         pprint(row)

In [ ]:
import pymongo

def updateIntoMongo(collectionName, dfName):
    # CREATE Connection with MongoDB Local
    conn = 'mongodb://localhost:27017'

#     conn = f'mongodb+srv://{username}:{password}@cluster0.zdhdq.mongodb.net/{dbname}?retryWrites=true&w=majority'
    client = MongoClient(conn)

    # Define the Database in Mongo
    db = client.renewable_energy
    
    collection = db[collectionName]
    temp_df = dfName.to_dict('records')
    collection.insert_many(temp_df)

In [ ]:
updateIntoMongo("energysource", src_df)

In [ ]:
updateIntoMongo("energyshare", share_df)

In [ ]:
updateIntoMongo("countrygdp", gdp_df)

In [ ]:
updateIntoMongo("airpollution", air_df)

In [ ]:
updateIntoMongo("energymerged", srcshare_df)