In [1]:
import pandas as pd
from pprint import pprint
from pymongo import MongoClient
from config import username, dbname, password

In [2]:
data_path="../Resources/"

## Renewables Energy Consumption
 energy source consumption tables

In [3]:
def cleanEnergyShare(dbpath):
    # solar generation table
    solar_data_read=pd.read_csv(data_path+"solar-energy-consumption.csv")
    solar_data_read.rename(columns={'Electricity from solar (TWh)' : 'Consumption_Units(Twh)'}, inplace=True)
    solar_data_read['Source'] = 'Solar'
    
    # hydropower generation table
    hydropower_data_read= pd.read_csv(data_path+"hydropower-consumption.csv")
    hydropower_data_read.rename(columns={'Electricity from hydro (TWh)' : 'Consumption_Units(Twh)'}, inplace=True)
    hydropower_data_read['Source'] = 'Hydro'
    
    # wind energy generation table
    wind_data_read=pd.read_csv(data_path+"wind-consumption.csv")
    wind_data_read.rename(columns={'Electricity from wind (TWh)' : 'Consumption_Units(Twh)'}, inplace=True)
    wind_data_read['Source'] = 'Wind'
    
    # bio energy generation table
    biofuel_data_read=pd.read_csv(data_path+"biofuel-consumption.csv")
    biofuel_data_read.rename(columns={'Biofuels Production - PJ - Total' : 'Consumption_Units(Twh)'}, inplace=True)
    biofuel_data_read['Source'] = 'Biofuels'
    
    # Merge all the above dataframes into a single dataframe
    energyshare = solar_data_read
    energyshare = energyshare.append(hydropower_data_read, ignore_index=True)
    energyshare = energyshare.append(wind_data_read, ignore_index=True)
    energyshare = energyshare.append(biofuel_data_read, ignore_index=True)    
    energyshare.rename(columns={'Entity':'Country'}, inplace=True)
    
    #-----------------------------------------------------------
    energyshare.loc[energyshare['Code'].isnull(),'Code'] = ""
    #-----------------------------------------------------------
    
    # Convert the null values to zero
    energyshare.fillna(0, inplace=True)
    return energyshare

## Renewables Energy Generation
Primary energy tables

In [4]:
def cleanEnergySource(dbpath):
    # Renewable Energy consumption table
    share_electricity= pd.read_csv(data_path+"primary-energy-renewables.csv")
    share_electricity.rename(columns={'Renewables (TWh – sub method)': 'Units(Twh)'}, inplace=True)
    share_electricity['Source'] = 'Total'


    # Solar Energy consumption table
    share_solar= pd.read_csv(data_path+"primary-energy-from-solar.csv")
    share_solar.rename(columns={"Solar (TWh – sub method)": 'Units(Twh)'}, inplace=True)
    share_solar['Source'] = 'Solar'

    # Wind Energy consumption table
    share_wind= pd.read_csv(data_path+"primary-energy-wind.csv")
    share_wind.rename(columns={'Wind (TWh – sub method)': 'Units(Twh)'}, inplace=True)
    share_wind['Source'] = 'Wind'

    # Hydropower Energy consumption table    
    share_hydro= pd.read_csv(data_path+"primary-energy-hydro.csv")
    share_hydro.rename(columns={'Hydro (TWh – sub method)': 'Units(Twh)'}, inplace=True)
    share_hydro['Source'] = 'Hydro'

    # Merge all the above dataframes into a single dataframe
    energysource = share_electricity
    energysource = energysource.append(share_solar, ignore_index=True)
    energysource = energysource.append(share_hydro, ignore_index=True)
    energysource = energysource.append(share_wind, ignore_index=True)
    energysource.rename(columns={'Entity':'Country'}, inplace=True)
    
    #-----------------------------------------------------------
    energysource.loc[energysource['Code'].isnull(),'Code'] = ""
    #-----------------------------------------------------------

    # Convert the null values to zero
    energysource.fillna(0,inplace=True)
    return energysource

## GDP by Country
Check Countries' GDP growth

In [5]:
def cleanCountryGDP(dbpath):
    # Read the data from the csv file
    gdp_data=pd.read_csv(data_path+"API_NY.GDP.PCAP.CD_DS2_en_csv_v2_1429392.csv")
    
    # Slice the country name column
    country_series = gdp_data.iloc[:,0]

    # Slice the year columns from 2000 - 2019
    year_df = gdp_data.iloc[:,44:64]
    # Combine country_series and year_df into a single dataframe
    # Insert the series into the df at the first position
    year_df.insert(0, 'Country', country_series)
    
    gdp_data = year_df
    
    # Get the years in the colunms
    col_names = gdp_data.columns  
    
    newlst = []
    for row in range(0, len(gdp_data)):
        for col in range(1, len(col_names)):            
            newlst.append([gdp_data.iloc[row,0], col_names[col], gdp_data.iloc[row, col]])
    
    country_gdp_df = pd.DataFrame(newlst, columns=(['Country','Year','GDP']))    
    country_gdp_df.fillna(0, inplace=True)
    country_gdp_df['Year'] = country_gdp_df['Year'].astype('int64', copy=False)
    return country_gdp_df

In [6]:
def cleanCountryGDP_withCode(dbpath):
    # Read the data from the csv file
    gdp_data=pd.read_csv(data_path+"API_NY.GDP.PCAP.CD_DS2_en_csv_v2_1429392.csv")

    # Slice the country name column
    country_series = gdp_data.iloc[:,0]

    # Slice the year columns from 2000 - 2019
    year_df = gdp_data.iloc[:,44:64]
    # Combine country_series and year_df into a single dataframe
    # Insert the series into the df at the first position

    code_series = gdp_data.iloc[:,1]
    year_df.insert(0, 'Code', code_series)

    year_df.insert(0, 'Country', country_series)

    gdp_data = year_df

    # Get the years in the colunms
    col_names = gdp_data.columns  

    newlst = []
    for row in range(0, len(gdp_data)):
        for col in range(2, len(col_names)):            
            newlst.append([gdp_data.iloc[row,0], gdp_data.iloc[row,1], col_names[col], gdp_data.iloc[row, col]])

    country_gdp_df = pd.DataFrame(newlst, columns=(['Country','Code', 'Year','GDP']))

    ## -----------------------------------------------------------
    country_gdp_df.loc[country_gdp_df['Code'].isnull(),'Code'] = ""
    ## -----------------------------------------------------------

    country_gdp_df.fillna(0, inplace=True)
    country_gdp_df['Year'] = country_gdp_df['Year'].astype('int64', copy=False)
    return country_gdp_df

In [7]:
gdp_dframe = cleanCountryGDP_withCode(data_path)
gdp_sorted = gdp_dframe.loc[gdp_dframe['Year'] == 2019].sort_values('GDP', ascending=False).nlargest(12, 'GDP').round(3)
# gdp_sorted = gdp_sorted.nlargest(12, ['GDP'])
clist = gdp_sorted.loc[:, 'Country']
gdp_top = gdp_dframe[gdp_dframe['Country'].isin(clist)]
gdp_top

            Country Code  Year          GDP
220       Australia  AUS  2000  21679.24784
221       Australia  AUS  2001  19490.86111
222       Australia  AUS  2002  20082.48327
223       Australia  AUS  2003  23447.03100
224       Australia  AUS  2004  30430.67644
...             ...  ...   ...          ...
4995  United States  USA  2015  56822.51882
4996  United States  USA  2016  57927.51685
4997  United States  USA  2017  59957.72585
4998  United States  USA  2018  62840.02024
4999  United States  USA  2019  65118.35833

[240 rows x 4 columns]

## Death Rate based on Air Pollution in every 100,000 people
Death rates are measured as the number of premature deaths attributed to outdoor air pollution per 100,000 individuals in a given demographic

In [8]:
def cleanAirPollution(dbpath):
    air_pollution = pd.read_csv(data_path+"outdoor-pollution-rates-by-age.csv")

    ## -----------------------------------------------------------
    air_pollution.loc[air_pollution['Code'].isnull(),'Code'] = ""
    ## -----------------------------------------------------------
    
    air_pollution.fillna(0,inplace=True)
    clear_data_air = air_pollution.rename(columns={"Entity":"Country",
                             "Death rate – Outdoor air pollution (Under-5s) (IHME)":"Death_Rate_Under_5",
                             "Death rate – Outdoor air pollution (5-14 years) (IHME)":"Death_Rate_5_14_Years",
                             "Death rate – Outdoor air pollution (15-49 years) (IHME)":"Death_Rate_15_49_Years",
                             "Death rate – Outdoor air pollution (50-69 years) (IHME)":"Death_Rate_50_69_Years",
                             "Death rate – Outdoor air pollution (70+ years) (IHME)":"Death_Rate_Over_70"})
#     clear_data_air.drop(columns=["Code"],inplace=True)
    return clear_data_air

#### Call all the functions

In [9]:
src_df = cleanEnergySource(data_path)

share_df = cleanEnergyShare(data_path)

gdp_df = cleanCountryGDP(data_path)

air_df = cleanAirPollution(data_path)

In [10]:
src_df

      Country      Code  Year   Units(Twh) Source
0      Africa            1965    38.626795  Total
1      Africa            1966    43.083379  Total
2      Africa            1967    44.974026  Total
3      Africa            1968    52.606544  Total
4      Africa            1969    61.391409  Total
...       ...       ...   ...          ...    ...
17155   World  OWID_WRL  2015  2103.669313   Wind
17156   World  OWID_WRL  2016  2423.694042   Wind
17157   World  OWID_WRL  2017  2852.430451   Wind
17158   World  OWID_WRL  2018  3156.845062   Wind
17159   World  OWID_WRL  2019  3540.051401   Wind

[17160 rows x 5 columns]

In [11]:
share_df

           Country      Code  Year  Consumption_Units(Twh)    Source
0      Afghanistan       AFG  2000                0.000000     Solar
1      Afghanistan       AFG  2001                0.000000     Solar
2      Afghanistan       AFG  2002                0.000000     Solar
3      Afghanistan       AFG  2003                0.000000     Solar
4      Afghanistan       AFG  2004                0.000000     Solar
...            ...       ...   ...                     ...       ...
21835        World  OWID_WRL  2015             3374.355102  Biofuels
21836        World  OWID_WRL  2016             3493.323055  Biofuels
21837        World  OWID_WRL  2017             3643.814193  Biofuels
21838        World  OWID_WRL  2018             3992.266217  Biofuels
21839        World  OWID_WRL  2019             4113.090945  Biofuels

[21840 rows x 5 columns]

In [12]:
type(gdp_df["Year"])

pandas.core.series.Series

## Merging all the data tables

In [13]:
def mergeEnergyData(dbpath):
    energysource = cleanEnergySource(dbpath)
    energyshare = cleanEnergyShare(dbpath)
    merge_src_share = pd.merge(energysource, energyshare, on=["Country", "Code", "Year", "Source"], how="outer")
#     merge_src_share.drop(columns=["Code_y"],inplace=True)
#     merge_src_share.rename(columns={"Code_x":"Code"})    
#     merge_src_share.drop(columns=['Code_x', 'Code_y'], inplace=True)
    merge_src_share.fillna(0, inplace=True)
    return merge_src_share

In [14]:
srcshare_df = mergeEnergyData(data_path)

In [15]:
srcshare_df

      Country      Code  Year  Units(Twh)    Source  Consumption_Units(Twh)
0      Africa            1965   38.626795     Total                0.000000
1      Africa            1966   43.083379     Total                0.000000
2      Africa            1967   44.974026     Total                0.000000
3      Africa            1968   52.606544     Total                0.000000
4      Africa            1969   61.391409     Total                0.000000
...       ...       ...   ...         ...       ...                     ...
26125   World  OWID_WRL  2015    0.000000  Biofuels             3374.355102
26126   World  OWID_WRL  2016    0.000000  Biofuels             3493.323055
26127   World  OWID_WRL  2017    0.000000  Biofuels             3643.814193
26128   World  OWID_WRL  2018    0.000000  Biofuels             3992.266217
26129   World  OWID_WRL  2019    0.000000  Biofuels             4113.090945

[26130 rows x 6 columns]

In [16]:
# srcshare_df.to_csv("EneryMerged.csv")

## last_tenyear_renew_percent

In [ ]:
renew_df = pd.read_csv(data_path+"last_tenyear_renew_percent.csv")
renew_df

# Connect and Update to Mongo

In [ ]:
# CREATE Connection with MongoDB Cloud
# conn = 'mongodb://localhost:27017'
# client = MongoClient(conn)

In [ ]:
# # Define the Database in Mongo
# db = client.renewable_energy

# coll = db.energysource.find()

# for row in coll:
#         pprint(row)

In [ ]:
import pymongo

def updateIntoMongo(collectionName, dfName):
    # CREATE Connection with MongoDB Local
    conn = 'mongodb://localhost:27017'

#     conn = f'mongodb+srv://{username}:{password}@cluster0.zdhdq.mongodb.net/{dbname}?retryWrites=true&w=majority'
    client = MongoClient(conn)

    # Define the Database in Mongo
    db = client.renewable_energy
    
    collection = db[collectionName]
    temp_df = dfName.to_dict('records')
    collection.insert_many(temp_df)

In [ ]:
updateIntoMongo("energysource", src_df)

In [ ]:
updateIntoMongo("energyshare", share_df)

In [ ]:
updateIntoMongo("countrygdp", gdp_df)

In [ ]:
updateIntoMongo("airpollution", air_df)

In [ ]:
updateIntoMongo("energymerged", srcshare_df)